<style>
.example{
    /*コレ*/text-align: center;
    border: 1px solid #999;
    padding: 10px;
    background: #f2f2f2;
}
</style>
<div class="example">
<img src="./ベルギー　ワッフル.jpg" alt=""width="607" height="409"> <img src="./ベルギー　チョコレート.jpeg" alt=""width="607" height="409">
    </div>