body {
    background-color: #e3e3e3;
}

#container {
    background-color: #f7f7f7;
}

.balloon {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 0 22px;
    margin: 20px auto;
}

.balloon img {
    max-width: 70px;
}

.balloon p {
    position: relative;
    max-width: 300px;
    margin: 3px 0 0;
    padding: .8em 1em;
    background-color: #e3e3e3;
    color: #333333;
}

.balloon p::before {
    position: absolute;
    left: -15px;
    width: 15px;
    height: 30px;
    background-color: #e3e3e3;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    content: '';
}

h1 {
    text-align: center;
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

h1:before,
h1:after {
    content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: black;
}

h1:before {
    left: 7px;
}

h1:after {
    right: 7px;
}
