
html {
    background-color: hsl(55, 61%, 75%)
}

body {
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width : 599px) body {
    width: 100%
}

img {
    width: 200px;
    display: block;
}

@media (min-width : 600px) {
    body {
        width: 70%
    }

    img {
        width: 400px;
        display: block;

    }
}
.yellow-line {
    background: liner-gradient(transparent 60%, hsl(63, 100%, 50%) 0%);
    display: inline
}